* {
  font-family: "poppins";
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  display: block;
  background-color: #509dc0;
}

img {
  justify-self: center;
  align-self: center;
  height: 300px;
  width: 300px;
  margin-right: 70px;
}
.bodycont {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.cont {
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 454px;
  height: 571px;
  background-color: white;
  box-shadow: 2px 2px 10px;
  border-radius: 20px;
}
.maincont {
  display: flex;
  width: fit-content;
  height: fit-content;

  align-items: center;
  justify-content: center;
}
.title,
.input,
.check-box,
.btn {
  align-items: center;
  justify-items: center;
  margin: 20px;
}
.btn button {
  align-self: center;
  justify-self: center;
}
.child-cont {
  display: block;
}
.title {
  margin: 50px;
}
.check-box {
  margin-top: 20px;
  align-self: center;
  height: fit-content;
  justify-self: start;
}

input[type="text"],
input[type="password"] {
  width: 360px;
  height: 35px;
  border-radius: 10px;
  background-color: #f1f4f9;
  padding: 0px 12px;
  border: none;
  margin-top: 10px;
}
button {
  width: 301px;
  height: 35px;
  background-color: #0c77a8;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.btn {
  margin-top: 80px;
}
.email,
.pass {
  margin-top: 20px;
  margin-bottom: 20px;
}
.title p {
  font-size: 30px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
button:active {
  transform: scale(0.96);
}
